@property --background-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #fdffdc;
}

body{
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    min-width: 700px;
}

#header__logo-container{
    width: 45px;
}

.header__logo{
    max-width: 100%;
    width: 45px;
    margin: 10px 10px;
}

#header{
    position: sticky;
    top:0;
    display: flex;
    width: 100vw;
    background-color: #dff5ff;
    height: 80px;
    flex-wrap: nowrap;
}

#ul__header-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.list-element{
    list-style: none;
    text-decoration: none;
    color: #000000;
}

.header__list-element{
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
}

.header__list-element:hover{
    color: #81b4ff;
}

/*.header__list-element:active{
    color: #bad6ff;
}*/

.list-sub-menu{
    line-height: 1.5;
    background-color: #eff5ff;
    position: absolute;
    display: none;
}

.header__list-a:hover{
    color: #81b4ff;
}

.header__list-a:active{
    color: #bad6ff;
}

.header__list-element:hover > .list-sub-menu{
    display: block;
    
}

.list-sub-menu:hover{
    display: block;
}

#container-middle{
    display: flex;
    align-items: flex-start;
    width: 100vw;
}

.aside{
    width: 15vw;
    height: calc(100vh - 80px);
}

#main{
    min-height: calc(100vh - 80px);
    width: 70vw;
}

#footer{
    width: 100vw;
    height: 100px;
    background-color: #bad6ff;
}
.text-ventana{
    margin: 0px;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.no-visible-class{
    display: none;
}

.ventana-show{
    padding: 10px;
    width: 100%;
    height: calc(100vh - 80px);
}

.text-inputs{
    font-family: 'Arial', sans-serif;
}

.input-ventana{
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 0.2px solid #000;
    outline: none;
    font-family: 'Arial', sans-serif;
    height: 25px;
    width: 400px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 400px;
    height: 30px;
    font-family: 'Arial', sans-serif;
}

.btn-form{
    height: 30px;
    width: 80px;
    background-color:#dff5ff;
    border: 0.2px solid #000;
    border-radius: 10%;
}

.btn-form:hover{
    background-color: #81b4ff;
}

.btn-form:active{
    background-color: #bad6ff;
}

.tex-area-vent{
    resize: none;
    margin-top: 5px;
    display: block;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 0.2px solid #000;
    outline: none;
    font-family: 'Arial', sans-serif;
    height: 75px;
    width: 400px;
}

.img-mini-prod{
    width: 100px;
    margin-bottom: 20px;
    display: block;
    border: 0.2px solid #000;
}

/*clases dinamicas*/

.text-error{
    color: #c20000;
}
.text-succesfull{
    color: #208e02;
}

.input-error{
    background-color: #fff2f2;
    border: 2px solid #c20000;
}

/*Clases dinamicas*/
.desactivado{
    pointer-events: none; /* Desactiva la interacción con el botón */
    opacity: 0.5; /* Cambia la opacidad para mostrar que está desactivado */
  }

@media screen and (max-width:999px) {
    .aside{
        display: none;
    }
    
    #main{
        min-height: calc(100vh - 80px);
        width: 100vw;
    }
}