@property --background-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #fdffdc;
}

body{
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.header__nav-a{
    text-decoration: none;
    color: #000000;
}

.header__nav-item{
    user-select: none;
    list-style: none;

}

#header__logo-container{
    width: 45px;
}

.header__logo{
    max-width: 100%;
    width: 45px;
    margin: 10px 10px;
}

#btn__logo-nav:active > img{
    width: 40px;
}

.busqueda__nav{
    background-color: #f4fcff;
    border: solid 1px;
    height: 30px;
    border-radius: 6px;
    border-color: #66acac;
} 

#btn__nav{
    width: 70px;
}

#btn__nav:active{
    background-color: #81b4ff;
    width: 65px;
}

.btn-large{
    cursor: pointer;
    display: block;
    width: 230px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 0.2px solid #000;
    background-color:#dff5ff;
    font-family: 'Arial', sans-serif;
}

.no-visible{
    display: none;
}

.text-loggin-a-inp{
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: #000000;
}

.text-loggin{
    font-family: 'Arial', sans-serif;
    font-weight: 100;
    margin-top: 10px;
}


.text-loggin-a-inp:hover{
    color: #81b4ff;
}

.text-loggin-a-inp:active{
    color: #bad6ff;
}

.btn-large:hover{
    background-color: #81b4ff;
}

.btn-large:active{
    background-color: #bad6ff;
}

#loggin_data-form{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: calc(100vh - 80px);
}

.container-loggin-bt{
    display: flex;
    justify-content: center;
}

#container-loggin-f{
    margin-top: 200px;
}

.input-loggin{
    display: block;
    margin-top: 10px;
    width: 250px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 0.2px solid #000;
    outline: none;
    font-family: 'Arial', sans-serif;
}

/*Clases dinamicas*/
.error-input{
    border: 2px solid #a52424;
}
 .error-text{
    color: #a52424;
 }

 .desactivado{
    pointer-events: none; /* Desactiva la interacción con el botón */
    opacity: 0.5; /* Cambia la opacidad para mostrar que está desactivado */
  }

/*Diseño en smartphone*/
@media screen and (max-width:999px) {
    header{
        position: sticky;
        top:0;
        background-color: #dff5ff;
        display:flex;  
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 70px;
    }
    
    #header__open-nav-button-img{
        max-width: 100%;
        width: 45px;
        margin: 10px 10px;
    }

    .header__open-nav-button:active > #header__open-nav-button-img{
        width: 40px;
    }
    
    .header__open-nav-button{
        position: absolute;
        right: 15px;
    }
    #open-menu{
        display: none;
    }
    
    .header__nav > ul{
        display: none;
        position: absolute;
        height: 100vh;
        width: 100vw;
        top:0;
        left: 0;
        background-color:#e0feff;
        z-index: -1;
    }
    
    .header__nav-list{
        display: flex;
        flex-direction: column;
        height: 40vh;
        margin: auto;
        justify-content: space-evenly;
    }
    
    .header__checkbox:checked ~ .header__nav > ul{
        display: flex;
    } 

    .busq-container{
        position: absolute;
        left: 60px;
        top:20px;
    }
    
    #input__nav{
        outline: none;
        width: 40vw;
    }

    .img-nav-opc{
        width:30px;
        margin-right: 10px;
    }

    .aside{
        display: none;
    }

    #main{
        min-height: calc(100vh - 80px);
        width: 100vw;
    }

    #footer{
        width: 100vw;
        height: 100px;
        background-color: #bad6ff;
    }
}
/*Diseño en computadora*/
@media screen and (min-width:1000px){
    /*Barra de navegacion*/
    #input__nav{

        margin-left: 10px;
        outline: none;
        width: 30vw;
    }

    #input__nav::selection {
        background-color: #3498db;
        color: white;              
    }

    #open-menu, #open-menu, #header__open-nav-button-img{
        display: none;
    }

    .header{
        position: sticky;
        top:0;
        display: flex;
        width: 100vw;
        background-color: #dff5ff;
        height: 80px;
        flex-wrap: nowrap;
    }

    .header__nav-list{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .header__nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .busqueda__nav{
        margin-top: 20px;
    }

    .img-nav-opc{
        margin-top: 10px;
        margin-right: 5px;
        width: 20px;
    }

    .header__nav-a:hover{
        color: #81b4ff;
    }
    .header__nav-a:active{
        color: #bad6ff;
    }

    /*Seccion media*/
    #container-middle{
        display: flex;
        align-items: flex-start;
        width: 100vw;
    }

    .aside{
        width: 15vw;
        height: calc(100vh - 80px);
    }

    #main{
        min-height: calc(100vh - 80px);
        width: 70vw;
    }

    #footer{
        width: 100vw;
        height: 100px;
        background-color: #bad6ff;
    }

}




