@property --background-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #fdffdc;
}

body{
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/*Diseño en smartphone*/
@media screen and (max-width:700px) {
    header{
        background-color: #dff5ff;
        display:flex;  
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }
    .header__logo{
        max-width: 100%;
        width: 45px;
        margin: 10px 10px;
    }
    
    #header__open-nav-button-img{
        max-width: 100%;
        width: 45px;
        margin: 10px 10px;
    }

    .header__open-nav-button:active > #header__open-nav-button-img{
        width: 40px;
    }
    
    .header__open-nav-button{
        position: absolute;
        right: 15px;
    }
    #open-menu{
        display: none;
    }
    
    .header__nav > ul{
        display: none;
        position: absolute;
        height: 100vh;
        width: 100vw;
        top:0;
        left: 0;
        background-color:#e0feff;
        z-index: -1;
    }
    
    .header__nav-list{
        display: flex;
        flex-direction: column;
        height: 40vh;
        margin: auto;
        justify-content: space-evenly;
    }
    
    .header__checkbox:checked ~ .header__nav > ul{
        display: flex;
    }
    
    .header__nav-item{
        list-style: none;
    
    }
    
    .header__nav-a{
        text-decoration: none;
        color: #000000;
    }

    .header__nav-a:active{
        color: #002787;
        text-decoration: dotted;
    }

    .busqueda__nav{
        background-color: #f4fcff;
        border: solid 1px;
        height: 30px;
        border-radius: 6px;
        border-color: #66acac;
    }  

    .busq-container{
        position: absolute;
        left: 60px;
        top:20px;
    }
    
    #input__nav{
        border-radius: 6px;
        outline: none;
        width: 40vw;
    }

    .img-nav-opc{
        width:30px;
        margin-right: 10px;
    }

    #btn__nav{
        width: 70px;
    }

    #btn__nav:active{
        background-color: #e4ffff;
        width: 65px;
    }
}
/*Diseño en computadora*/
@media screen and (min-width:700px){
    
    #open-menu, #open-menu, #header__open-nav-button-img{
        display: none;
    }
}




